{% extends "base.html" %}

{% block content %}
<h1>People</h1>

<div>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for person in people %}
            <div class="person-card">
                <div class="person-image-container relative h-48 w-48 overflow-hidden rounded-full">
                    <img src="/static/profile_pictures/{{ person.image }}" alt="{{ person.name }}" class="person-image absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full h-full object-cover">
                </div>
                <h3 class="person-name">{{ person.name }}</h3>
                <p class="person-role">{{ person.teams }}</p>
                <p class="person-blurb">{{ person.blurb }}</p>
            </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
